################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/config
/.vs/clu.logging/v14
/.vs/clu.logging/v15
/clu.logging.baconipsum.net461/bin
/clu.logging.baconipsum.net461/obj
/clu.logging.console.net461/bin
/clu.logging.console.net461/obj
/clu.logging.elasticsearch.net461/bin
/clu.logging.elasticsearch.net461/obj
/clu.logging.library.net461/bin
/clu.logging.library.net461/obj
/clu.logging.log4net.net461/bin
/clu.logging.log4net.net461/obj
/clu.logging.webapi.net461/bin
/clu.logging.webapi.net461/obj
